[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
htmlmin = "*"
jinja2 = "*"
lxml = "*"
markdown = "*"
python-dateutil = "*"
python-slugify = "*"
watchdog = "*"

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[pipenv]
keep_outdated = true
